# Data Cleaning Template (v1.0)

**Author:** Julio Carneiro  
**Location:** Canada  
**Year:** 2025  
**GitHub:** github.com/juliocezarcarneiro/data-cleaning-template.git

### Project Overview

This notebook provides a complete workflow for cleaning and preparing datasets for analysis or modelling.
It includes:

- Data type correction
- Handling missing values
- Cleaning monetary fields
- Removing artifacts (footnotes, symbols, formatting issues)  
- Outlier detection  
- Final data validation  

This template can be reused across different projects to ensure consistent and professional data quality workflows.

## Importing Required Libraries

In this section, I import the core Python libraries used for data cleaning and preprocessing. This typically includes `pandas` for data manipulation and `numpy` for numerical operations.

In [133]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the Dataset

In this step, I load the raw CSV file into a pandas DataFrame. This dataset will be used as the starting point for all cleaning and preprocessing tasks. 

I also print the number of rows and columns to confirm that the file loaded correctly.

In [176]:
# Load the data
file_path = Path("~/Desktop/Projects/templates/data-cleaning-template/data/dirty-data-original.csv")
df = pd.read_csv(file_path)

print(f"Shape: {df.shape[0]:,} rows × {df.shape[1]} columns")
df.head()

Shape: 20 rows × 11 columns

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

## Initial Data Inspection

This section provides a quick overview of the raw dataset, including:

- First and last five records
- DataFrame shape
- Data types
- Missing value summary
- Duplicate rows
- Summary statistics

These checks help identify what cleaning actions are necessary.

In [218]:
# First 5 rows
print("First 5 rows")
display(df.head())

# Last 5 rows
print("\nLast 5 rows")
display(df.tail())

# Shape
print(f"\nShape: {df.shape[0]:,} rows × {df.shape[1]} columns")

# Data types
print("\nData types")
print(df.dtypes)

# Missing values
print("\nMissing values")
missing = df.isnull().sum()
percentage = (missing / len(df) * 100).round(1)

summary = pd.DataFrame({
    "Empty cells": missing,
    "% Empty": percentage
})

display(summary.sort_values("% Empty", ascending=False))

# Duplicate rows
print("Duplicate rows")
duplicates = df.duplicated().sum()
print(f"{duplicates:,} exact duplicate rows")

# Summary stats
print("\nNumbers summary")
display(df.describe().round(2))

# Basic stats (all columns)
print("\nBasic stats")
display(df.describe(include="all"))

First 5 rows

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Artist,Tour_title,Years,Shows,Average_gross,Ref
0,1,1,2,780000000.0,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7[2],579800000.0,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2[5],411000000.0,560622615,Madonna,Sticky & Sweet Tour ‡[4][A],2008–2009,85,4835294,[6]
3,4,2[7],10[7],397300000.0,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],999,345675146.0,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]

Last 5 rows

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Artist,Tour_title,Years,Shows,Average_gross,Ref
15,16,999,999,184000000.0,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22]
16,17,999,999,170000000.0,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[D]
17,18,999,999,169800000.0,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4]
18,19,999,999,NaN,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25]
19,20,999,999,150000000.0,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26]

Shape: 20 rows × 11 columns

Data types
Rank                     int64
Peak                    object
All_time_peak           object
Actual_gross           float64
Adjusted_gross_2022      int64
Artist                  object
Tour_title              object
Years                   object
Shows                    int64
Average_gross            int64
Ref                     object
dtype: object

Missing values

                     Empty cells  % Empty
Actual_gross                   2     10.0
Rank                           0      0.0
Peak                           0      0.0
All_time_peak                  0      0.0
Adjusted_gross_2022            0      0.0
Artist                         0      0.0
Tour_title                     0      0.0
Years                          0      0.0
Shows                          0      0.0
Average_gross                  0      0.0
Ref                            0      0.0

Duplicate rows
0 exact duplicate rows

Numbers summary

        Rank  Actual_gross  Adjusted_gross_2022   Shows  Average_gross
count  20.00  1.800000e+01         2.000000e+01   20.00          20.00
mean   10.45  2.979010e+08         3.438781e+08  110.00     3726571.15
std     5.94  1.617236e+08         1.514627e+08   66.51     3393339.60
min     1.00  1.500000e+08         1.854231e+08   41.00      615385.00
25%     5.75  1.955000e+08         2.457557e+08   59.00     1647508.00
50%    10.50  2.532423e+08         2.974889e+08   87.00     2342100.00
75%    15.25  3.355460e+08         3.924451e+08  134.50     4933024.25
max    20.00  7.800000e+08         7.800000e+08  325.00    13928571.00

Basic stats

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Artist,Tour_title,Years,Shows,Average_gross,Ref
count,20.000000,20.0,20.0,1.800000e+01,2.000000e+01,20,20,20,20.000000,2.000000e+01,20
unique,NaN,8.0,7.0,NaN,NaN,9,20,16,NaN,NaN,20
top,NaN,999.0,999.0,NaN,NaN,Taylor Swift,The Eras Tour †,2013–2014,NaN,NaN,[1]
freq,NaN,11.0,14.0,NaN,NaN,4,1,3,NaN,NaN,1
mean,10.450000,NaN,NaN,2.979010e+08,3.438781e+08,NaN,NaN,NaN,110.000000,3.726571e+06,NaN
std,5.942488,NaN,NaN,1.617236e+08,1.514627e+08,NaN,NaN,NaN,66.507617,3.393340e+06,NaN
min,1.000000,NaN,NaN,1.500000e+08,1.854231e+08,NaN,NaN,NaN,41.000000,6.153850e+05,NaN
25%,5.750000,NaN,NaN,1.955000e+08,2.457557e+08,NaN,NaN,NaN,59.000000,1.647508e+06,NaN
50%,10.500000,NaN,NaN,2.532423e+08,2.974889e+08,NaN,NaN,NaN,87.000000,2.342100e+06,NaN
75%,15.250000,NaN,NaN,3.355460e+08,3.924451e+08,NaN,NaN,NaN,134.500000,4.933024e+06,NaN
max,20.000000,NaN,NaN,7.800000e+08,7.800000e+08,NaN,NaN,NaN,325.000000,1.392857e+07,NaN

## Removing Duplicate Rows

Duplicate records can distort analysis and inflate summary statistics.  
In this step, I check for exact duplicate rows in the dataset and remove them using `drop_duplicates()`.

This ensures that each observation is unique and prevents biased results during aggregation or modelling. No duplicate rows were found.

In [221]:
# Remove duplicates
print("Duplicates before:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicates after:", df.duplicated().sum())

Duplicates before: 0
Duplicates after: 0

## Standardizing Column Names

Consistent column names are essential for clean, readable code and reproducible analysis.

In this step:

- I rename columns to meaningful, standardized names  
- Names are concise, descriptive, and use snake_case or PascalCase conventions where appropriate  

This ensures clarity in all subsequent analysis steps.

In [224]:
# Standardize columns
# Rename columns to clean, descriptive names
df.columns = [
    "Rank", "Peak", "All_time_peak", "Actual_gross", "Adjusted_gross_2022",
    "Artist", "Tour_title", "Years", "Shows", "Average_gross", "Ref"
]

# Verify the changes
print("Columns forced to correct names:")
print(df.columns.tolist())

# Preview the first few rows
df.head()

Columns forced to correct names:
['Rank', 'Peak', 'All_time_peak', 'Actual_gross', 'Adjusted_gross_2022', 'Artist', 'Tour_title', 'Years', 'Shows', 'Average_gross', 'Ref']

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Artist,Tour_title,Years,Shows,Average_gross,Ref
0,1,1,2,780000000.0,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7[2],579800000.0,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2[5],411000000.0,560622615,Madonna,Sticky & Sweet Tour ‡[4][A],2008–2009,85,4835294,[6]
3,4,2[7],10[7],397300000.0,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],999,345675146.0,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]

## Cleaning Monetary Columns

Several columns contain monetary values with formatting symbols:

- `Actual_gross`, `Adjusted_gross_2022`, `Average_gross`  

Steps applied:

1. Remove `$` and `,` symbols
2. Strip extra whitespace
3. Convert values to a numeric type
4. Convert `Peak` and `All_time_peak` to numeric type

This ensures that monetary columns are numeric and ready for calculations and analysis.

In [241]:
# Money columns: remove $ and commas
money_cols = ["Actual_gross", "Adjusted_gross_2022", "Average_gross"]

for col in money_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(r"[$,]", "", regex=True)
        .str.strip()
    )
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Convert other numeric columns
numeric_cols = ["Peak", "All_time_peak"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Verify the changes
print(df[money_cols].dtypes)
df.head(10)

Actual_gross           float64
Adjusted_gross_2022      int64
Average_gross            int64
dtype: object

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Artist,Tour_title,Years,Shows,Average_gross,Ref
0,1,1.0,2.0,780000000.0,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1.0,NaN,579800000.0,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,NaN,NaN,411000000.0,560622615,Madonna,Sticky & Sweet Tour ‡[4][A],2008–2009,85,4835294,[6]
3,4,NaN,NaN,397300000.0,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,NaN,999.0,345675146.0,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,NaN,NaN,305158363.0,388978496,Madonna,The Mdna Tour,2012,88,3467709,[9]
6,7,NaN,999.0,280000000.0,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,999.0,999.0,257600000.0,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,[12]
8,9,999.0,999.0,256084556.0,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13]
9,10,999.0,999.0,250400000.0,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14]

### Handling Missing Values
Before proceeding with analysis, I checked the dataset for missing values to understand which fields required imputation. The initial inspection showed null values in several numeric columns.

To maintain consistency:

* Average_gross: Missing values were replaced with 0 since non-reported amounts should not affect aggregate calculations.

* Peak and All_time_peak: Missing values were replaced with a placeholder (999) to identify entries where ranking information was unavailable or incomplete.

After applying these imputations, I re-ran the missing value check to confirm that all null values had been resolved.

In [244]:
# Print missing values before
print("Missing values before:")
print(df.isnull().sum()[df.isnull().sum() > 0])

# Fill missing values (pandas 3.0 safe)
df["Average_gross"]   = df["Average_gross"].fillna(0)     # since values should not impact aggregate calculations
df["Peak"]            = df["Peak"].fillna(999)            # flag incomplete or unavailable rankings for future review
df["All_time_peak"]   = df["All_time_peak"].fillna(999)   # flag incomplete or unavailable rankings for future review

# Check again
print("\nMissing values after:")
print(df.isnull().sum()[df.isnull().sum() > 0])

print("\nTotal missing:", df.isnull().sum().sum())

Missing values before:
Peak             7
All_time_peak    5
Actual_gross     2
dtype: int64

Missing values after:
Actual_gross    2
dtype: int64

Total missing: 2

## Standardizing Text Columns

To ensure consistency and prevent errors during analysis:

- Remove extra whitespace from text fields
- Standardize categorical/text columns
- Convert text to a consistent format if needed

This step improves data quality and ensures accurate grouping, filtering, and visualization.

In [254]:
# Inspect current column names
print("Columns before standardization:")
print(df.columns.tolist())

# Strip whitespace from string columns
text_cols = ["Artist", "Tour_title", "Ref"]

for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

# Standardize title case
for col in text_cols:
    df[col] = df[col].str.title()

# Verify changes
print("\nColumns after standardization:")
print(df.columns.tolist())

Columns before standardization:
['Rank', 'Peak', 'All_time_peak', 'Actual_gross', 'Adjusted_gross_2022', 'Artist', 'Tour_title', 'Years', 'Shows', 'Average_gross', 'Ref']

Columns after standardization:
['Rank', 'Peak', 'All_time_peak', 'Actual_gross', 'Adjusted_gross_2022', 'Artist', 'Tour_title', 'Years', 'Shows', 'Average_gross', 'Ref']

## Handling Outliers and Anomalies

Outliers and invalid data can skew analysis and visualizations.  

In this step:

- I review summary statistics to identify anomalies  
- Negative values in numeric columns (`Average_gross`, `Peak`, `All_time_peak`) are considered invalid  
- These rows are removed to ensure clean, reliable data for analysis  

This step ensures that only plausible, meaningful values remain in the dataset.

In [257]:
# Inspect numeric summary
display(df.describe())

# Remove negative values from key numeric columns
df = df[df["Average_gross"] >= 0]
df = df[df["Peak"] >= 0]
df = df[df["All_time_peak"] >= 0]

print("Negative rows deleted!")

# Verify number of rows after cleaning
print(f"Rows we have now: {df.shape[0]:,}")

# Display updated summary statistics
print("\nNumbers after cleaning:")
display(df.describe().round(0))

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Shows,Average_gross
count,20.000000,20.000000,20.000000,1.800000e+01,2.000000e+01,20.000000,2.000000e+01
mean,10.450000,899.200000,949.150000,2.979010e+08,3.438781e+08,110.000000,3.726571e+06
std,5.942488,307.177919,222.935977,1.617236e+08,1.514627e+08,66.507617,3.393340e+06
min,1.000000,1.000000,2.000000,1.500000e+08,1.854231e+08,41.000000,6.153850e+05
25%,5.750000,999.000000,999.000000,1.955000e+08,2.457557e+08,59.000000,1.647508e+06
50%,10.500000,999.000000,999.000000,2.532423e+08,2.974889e+08,87.000000,2.342100e+06
75%,15.250000,999.000000,999.000000,3.355460e+08,3.924451e+08,134.500000,4.933024e+06
max,20.000000,999.000000,999.000000,7.800000e+08,7.800000e+08,325.000000,1.392857e+07

Negative rows deleted!
Rows we have now: 20

Numbers after cleaning:

,Rank,Peak,All_time_peak,Actual_gross,Adjusted_gross_2022,Shows,Average_gross
count,20.0,20.0,20.0,18.0,20.0,20.0,20.0
mean,10.0,899.0,949.0,297901004.0,343878092.0,110.0,3726571.0
std,6.0,307.0,223.0,161723646.0,151462684.0,67.0,3393340.0
min,1.0,1.0,2.0,150000000.0,185423109.0,41.0,615385.0
25%,6.0,999.0,999.0,195500000.0,245755688.0,59.0,1647508.0
50%,10.0,999.0,999.0,253242278.0,297488872.0,87.0,2342100.0
75%,15.0,999.0,999.0,335545950.0,392445084.0,134.0,4933024.0
max,20.0,999.0,999.0,780000000.0,780000000.0,325.0,13928571.0

## Creating Derived Column: Artist and Tour Title

Here we create a new column `Artist_Tour` by concatenating `Artist` and `Tour_title`.

In [264]:
# Create a new column by combining Artist and Tour_title
df['Artist_Tour'] = df['Artist'].astype(str).str.strip() + " - " + df['Tour_title'].astype(str).str.strip()

# Verify the new column
print("Current column names:", df.columns.tolist())
df[['Artist', 'Tour_title', 'Artist_Tour']].head(10)

Current column names: ['Rank', 'Peak', 'All_time_peak', 'Actual_gross', 'Adjusted_gross_2022', 'Artist', 'Tour_title', 'Years', 'Shows', 'Average_gross', 'Ref', 'Artist_Tour']

,Artist,Tour_title,Artist_Tour
0,Taylor Swift,The Eras Tour †,Taylor Swift - The Eras Tour †
1,Beyoncé,Renaissance World Tour,Beyoncé - Renaissance World Tour
2,Madonna,Sticky & Sweet Tour ‡[4][A],Madonna - Sticky & Sweet Tour ‡[4][A]
3,Pink,Beautiful Trauma World Tour,Pink - Beautiful Trauma World Tour
4,Taylor Swift,Reputation Stadium Tour,Taylor Swift - Reputation Stadium Tour
5,Madonna,The Mdna Tour,Madonna - The Mdna Tour
6,Celine Dion,Taking Chances World Tour,Celine Dion - Taking Chances World Tour
7,Pink,Summer Carnival †,Pink - Summer Carnival †
8,Beyoncé,The Formation World Tour,Beyoncé - The Formation World Tour
9,Taylor Swift,The 1989 World Tour,Taylor Swift - The 1989 World Tour

## Final Validation and Quality Check

After all cleaning, type conversions, outlier handling, and derived column creation, it's important to:

- Verify data types of all columns  
- Check for any remaining missing values  
- Confirm the dataset is ready for analysis, visualization, or modelling  

This ensures data integrity and quality before exporting or further analysis.

In [273]:
# Final validation: data types and missing values
print("DataFrame Info:")
df.info()

# Total remaining missing values
total_missing = df.isnull().sum().sum()
print(f"\nTotal missing values remaining: {total_missing}")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 20 non-null     int64
 1   Peak                 20 non-null     float64
 2   All_time_peak        20 non-null     float64
 3   Actual_gross         18 non-null     float64
 4   Adjusted_gross_2022  20 non-null     int64
 5   Artist               20 non-null     object
 6   Tour_title           20 non-null     object
 7   Years                20 non-null     object
 8   Shows                20 non-null     int64
 9   Average_gross        20 non-null     int64
 10  Ref                  20 non-null     object
 11  Artist_Tour          20 non-null     object
dtypes: float64(3), int64(4), object(5)
memory usage: 2.0+ KB

Total missing values remaining: 2

## Exporting the Cleaned Dataset

After completing all cleaning and validation steps, the dataset is ready to be saved for further analysis or modelling.  

- Export as **CSV** for general use and compatibility  
- Export as **Excel** for reporting or stakeholder sharing  

Versioning and saving cleaned datasets ensure reproducibility and a clear audit trail of the data cleaning process.

In [279]:
# Export cleaned dataset
output_path_csv = "../data/cleaned_data.csv"
output_path_excel = "../data/cleaned_data.xlsx"

df.to_csv(output_path_csv, index=False)
df.to_excel(output_path_excel, index=False)

print(f"Files saved successfully:\n- {output_path_csv}\n- {output_path_excel}")

Files saved successfully:
- ../data/cleaned_data.csv
- ../data/cleaned_data.xlsx